#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed; 
  top: 5%; 
  left: 0;
}

.link 
{
  border: 1px solid white;
  border-radius: 8px;
  background:#1d1f1d;
  width:75px;
  margin: 12px;
  color: white;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}