#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p.info {
  font-size: 16px;
}

button.next {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
}