.cardWrapper{
    height: 400px;
    width: 800px;
    margin: 20px;
    padding: 24px;
    background-color: lightpink;  /* Default fallback. */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
        box-shadow: 0 0 5px 2px lightgrey;
    }

    &:active {
        transform: rotateX(180deg);
    }

    transition: transform 0.6s;
    transform-style: preserve-3d;
}

p.content {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

div.imgWrapper{
    height: 250px;
}