.commentsContainer {
    width: 600px;
    margin-top: 1rem;
    padding: 2rem;
    
    background-color: var(--light-brown);
    border-radius: 0.5rem;

    & h2 {
        font-size: var(--font-size-medium);
        margin-bottom: 3rem;
    }
}

.existingComments {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    text-align: left;
    
    color: var(--dark-brown);
    background-color: var(--medium-brown);
}

& #newComment {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 1rem;

    & input {
        width: 300px;
        height: 1rem;
        padding: 0.5rem;

        border-radius: 0.5rem;

        font-size: var(--font-size-smaller);
        color: var(--lighter-brown);

        &:focus {
            outline-color: var(--light-brown);
        }
    }

    & button {
        padding: 0.5rem;

        border-radius: 0.5rem;
        border: 2px solid var(--dark-brown);

        font-size: var(--font-size-smaller);
        font-weight: var(--font-weight-bolder);
        background-color: var(--dark-brown);
        color: var(--lighter-brown);
        
        &:hover {
            background-color: var(--medium-brown);
            color: var(--dark-brown);
        }
    }
}