.createPostWrapper {
    margin: 5rem 10rem;
}

#postForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: var(--dark-brown);

    & #title, #content, #imageURL {
        width: 100%;
        padding: 0.5rem;

        font-size: var(--font-size-small);
        color: var(--dark-brown);
        background-color: var(--lighter-brown);
        border: 2px solid var(--dark-brown);
    }

    & #submitPost {
        cursor: pointer;

        padding: 0.6em 1.2em;
        text-align: center;
        align-self: center;
        
        border: 2px solid var(--dark-brown);
        border-radius: 0.5rem;
        font-weight: var(--font-weight-bold);
        font-size: 1em;
        color: var(--lighter-brown);
        background-color: var(--dark-brown);
        
        &:hover {
            color: var(--dark-brown);
            background-color: var(--medium-brown);
        }
    }
}

#content {
    resize: vertical;
}