.postsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    color: var(--dark-brown);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bolder);
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 1rem;

    & input {
        width: 275px;
        height: 1rem;
        padding: 0.5rem;

        border-radius: 0.5rem;

        font-size: var(--font-size-smaller);
        color: var(--lighter-brown);

        &:focus {
            outline-color: var(--light-brown);
        }
    }
}

:is(.filters, .searchBar) button {
    cursor: pointer;
    padding: 0.5rem;
  
    border-radius: 0.5rem;
    border: 2px solid var(--dark-brown);
  
    background-color: var(--dark-brown);
    color: var(--lighter-brown);
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-bolder);
    
    &:hover {
        background-color: var(--medium-brown);
        color: var(--dark-brown);
    }
  }