#root {
  /* TODO: Ensure whole screen is filled up. Empty space contains background color. */
  min-width: 100vw;
  min-height: 100vh;

  text-align: center;

  background-color: var(--light-brown);
  color: var(--dark-brown);
}

.description {
  margin: 1rem 0;
  
  color: var(--dark-brown);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}
