#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2rem;
}

.navLinks {
    color: var(--dark--brown);

    /* TODO: Implement more user feedback. */
    /* border: 1px solid var(--light--brown); */
    /* border-radius: 5px; */
    /* background-color: var(--light--brown); */

    /* &:hover {
        color: var(--light--brown);
        background-color: var(--dark--brown);
    } */
}