.postCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    margin: 25px;
    padding: 25px;
    
    border: 2px solid var(--dark-brown);
    border-radius: 10px;
    color: var(--dark-brown);
    background-color: var(--lighter-brown);

    & h1{
        font-size: var(--font-size-large);
    }

    & p{
        font-size: var(--font-size-small);
    }

    &:hover{
        box-shadow: 1px 1px 8px 1px var(--dark-brown);
    }
}