.postPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
    padding: 50px;

    border: 2px solid var(--dark-brown);
    border-radius: 10px;
    background-color: var(--lighter-brown);
    color: var(--dark-brown);

    & h1 {
        font-size: var(--font-size-larger);
        line-height: 0.5rem;
    }

    & h2 {
        font-size: var(--font-size-medium);
        line-height: 0.5rem;
    }

    & p {
        font-size: var(--font-size-smaller);
    }
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    & img {
        cursor: pointer;
    }
    
    & .crud {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

    & #upvotes {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        & p {    
            font-size: var(--font-size-small);
            line-height: 0;
        }
    }
}