.postPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
    padding: 50px;

    border: 2px solid var(--dark-brown);
    border-radius: 10px;
    background-color: var(--lighter-brown);
    color: var(--dark-brown);

    & h1 {
        font-size: var(--font-size-larger);
        line-height: 0.5rem;
    }

    & h2 {
        font-size: var(--font-size-medium);
        line-height: 0.5rem;
    }

    & p {
        font-size: var(--font-size-smaller);
    }
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    & img {
        cursor: pointer;
    }
    
    & .crud {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

    & #upvotes {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        & p {    
            font-size: var(--font-size-small);
            line-height: 0;
        }
    }
}

.commentsContainer {
    width: 600px;
    margin-top: 1rem;
    padding: 2rem;
    
    background-color: var(--light-brown);
    border-radius: 0.5rem;
    
    & h2 {
        font-size: var(--font-size-medium);
        margin-bottom: 3rem;
    }
}

.existingComments > p {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    text-align: left;
    
    color: var(--dark-brown);
    background-color: var(--medium-brown);
}

& #newComment {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 1rem;

    & input {
        width: 300px;
        height: 1rem;
        padding: 0.5rem;

        border-radius: 0.5rem;

        font-size: var(--font-size-smaller);
        color: var(--lighter-brown);

        &:focus {
            outline-color: var(--lighter-brown);
        }
    }

    & button {
        padding: 0.5rem;

        border-radius: 0.5rem;
        border: 2px solid var(--dark-brown);

        font-size: var(--font-size-smaller);
        font-weight: var(--font-weight-bolder);
        background-color: var(--dark-brown);
        color: var(--lighter-brown);
        
        &:hover {
            background-color: var(--lighter-brown);
            color: var(--dark-brown);
        }
    }
}
