.cardWrapper{
    height: 400px;
    width: 800px;
    margin: 20px;
    padding: 24px;
    background-color: lavender;

    /* TODO: Is there a way to center the text without using flexbox? */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
        /** TODO: Create a gradient. Box-shadow? */
    }
}

p.content {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

div.imgWrapper{
    height: 250px;
}