#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(162, 99, 99);
  color: rgb(245, 244, 244);
}

.homeContainer {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}